@import "../../../styles/variables";
@import "../../../styles/mixins";

.navItem {
  height: 80px;
  border: 1px solid rgb(190, 202, 13);
  display: flex;
  justify-self: center;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  //height: 100%;
  cursor: pointer;

  &.active {
    border-bottom: 3px solid #01bf71;
  }
}
