@import "../../../styles/variables";
@import "../../../styles/mixins";

.sidebarItem {
  height: 80px;
  border: 1px solid rgb(190, 202, 13);
  display: flex;
  justify-self: center;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  width: 30%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #01bf71;
    transition: 0.2s ease-in-out;
  }

  &.active {
    border-bottom: 3px solid #01bf71;
  }

  a {
    margin: auto;
  }
}
